/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --c-black: 216 8% 12%;
  --c-primary: 136 53% 59%;
  --c-white: 0 0% 100%;
  --c-info-variant: 212 74% 83%;

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-sans: "Raleway", sans-serif;
}

@media (max-width: 425px) {
  :root {
    --fs-900: 6.25rem;
    --fs-800: 3.5rem;
    --fs-700: 2rem;
    --fs-600: 1.75rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: 0.875rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color: hsl(var(--c-black));
  background: hsl(var(--c-white));
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------- */
/* Utility classes  */
/* ---------------- */

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-left: var(--flow-space, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/* color */
.bg-black {
  background-color: hsl(var(--c-black));
}
.bg-primary {
  background-color: hsl(var(--c-primary));
}
.bg-white {
  background-color: hsl(var(--c-white));
}

.text-black {
  color: hsl(var(--c-black));
}
.text-primary {
  color: hsl(var(--c-primary));
}
.text-white {
  color: hsl(var(--c-white));
}

/* typography */
.ff-sans {
  font-family: var(--ff-sans);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.fw-light {
  font-weight: 300;
}
.fw-regular {
  font-weight: 400;
}
.fw-bold {
  font-weight: 500;
}
.fw-bolder {
  font-weight: 600;
}

.border {
  border: 1px solid red;
}

/* ------------------- */
/* Components          */
/* ------------------- */

/* Header ------------ */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.3em;
}

.navbar > * {
  font-weight: 600;
  padding: 4px 0.9em 1em;
  cursor: pointer;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--c-white) / 0);
}

.navbar > *:hover,
.navbar > *:focus {
  color: hsl(var(--c-primary) / 0.5);
  border-color: hsl(var(--c-primary) / 0.5);
}

.navbar > .active,
.navbar > [aria-selected="true"] {
  color: hsl(var(--c-primary) / 1);
  border-color: hsl(var(--clr-white) / 1);
}

/* Logo */
.logo > img {
  margin-inline: auto;
  width: 41px;
  height: 41px;
}

/* Action */
.action > .spacer-xl {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

/* Main section ---------- */
main {
  position: relative;
}

/* Cart overlay */
.cart-overlay {
  display: none;
  position: absolute; /* Stay in place */
  z-index: 2; /* Sit on top */
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background: rgba(57, 55, 72, 0.22);
}

.cart-overlay > .cart-content {
  padding: 1rem;
  position: absolute;
  max-width: 325px;
  right: 2rem;
  flex-direction: column;
}

.cart-overlay > .cart-content > .cart-bag {
  flex-direction: row;
  justify-content: space-between;
}

.cart-overlay > .cart-content > .cart-bag > .cart-bag-info {
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.cart-overlay > .cart-content > .cart-bag > .close-button {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0;
}
.cart-overlay > .cart-content > .cart-bag > .close-button:hover {
  opacity: 1;
}

.cart-overlay > .cart-content > .cart-item {
  flex-direction: row;
  margin-bottom: 2.2rem;
}

.cart-overlay > .cart-content > .cart-item > .cart-item-product {
  flex-direction: column;
}

.cart-overlay
  > .cart-content
  > .cart-item
  > .cart-item-product
  > .product-size {
  flex-direction: row;
  gap: 0.3rem;
}

.cart-overlay
  > .cart-content
  > .cart-item
  > .cart-item-product
  > .product-size
  > * {
  display: block;
  width: 24px;
  height: 24px;
  font-size: var(--fs-200);
  text-align: center;
  background: rgba(166, 166, 166, 0.2);
  border: 1px solid #a6a6a6;
  cursor: pointer;
}

.cart-overlay
  > .cart-content
  > .cart-item
  > .cart-item-product
  > .product-size
  > *:hover,
.cart-overlay
  > .cart-content
  > .cart-item
  > .cart-item-product
  > .product-size
  > *:active,
.cart-overlay
  > .cart-content
  > .cart-item
  > .cart-item-product
  > .product-size
  > *:focus {
  background: hsl(var(--c-white));
  border: 1px solid hsl(var(--c-black));
}

.cart-overlay > .cart-content > .cart-item > .cart-item-counter {
  flex-direction: column;
  justify-content: space-between;
}

.cart-overlay > .cart-content > .cart-item > .cart-item-counter > button {
  display: block;
  width: 24px;
  height: 24px;
  font-size: var(--fs-300);
  background: rgba(166, 166, 166, 0.2);
  border: 1px solid #a6a6a6;
  cursor: pointer;
}

.cart-overlay > .cart-content > .cart-item > .cart-item-counter > button:hover,
.cart-overlay
  > .cart-content
  > .cart-item
  > .cart-item-counter
  > button:active {
  background: hsl(var(--c-white));
  border: 1px solid hsl(var(--c-black));
}

.cart-overlay > .cart-content > .cart-item > .cart-item-counter > span {
  display: block;
  text-align: center;
}

.cart-overlay > .cart-content > .cart-item > .cart-item-image {
  position: relative;
  width: 6rem;
}

.cart-overlay > .cart-content > .cart-item > .cart-item-image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.cart-overlay > .cart-content > .total-price {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.cart-overlay > .cart-content > .cart-buttons {
  flex-direction: row;
  justify-content: space-between;
}

.cart-overlay > .cart-content > .cart-buttons > button {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 1px solid hsl(var(--c-white));
}

.cart-overlay > .cart-content > .cart-buttons > button:first-of-type {
  border: 1px solid hsl(var(--c-black));
}

/* Title */
.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 4.5em;
}

.title > h1 {
  font-size: 2.6em;
}

@media (max-width: 425px) {
  .title > h1 {
    font-size: 1.5em;
  }
}

/* Product card */
.card-container {
  margin-top: 6em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  column-gap: 1em;
  row-gap: 6em;
  justify-items: center;
}

.card-container > .product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
  transition: box-shadow 0.2s ease-out;
}

.card-container > .product-card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.card-container > .product-card > .card-image {
  position: relative;
  width: 22rem;
  height: 20rem;
}

.card-container > .product-card > .card-image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-container > .product-card > .card-image > .heart-button {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 16px;
  top: 16px;
  border: none;
  background: none;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.card-container > .product-card > .card-image > .heart-button:hover {
  opacity: 1;
}

.card-container > .product-card > .card-image > .heart-button > img {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.card-container > .product-card > .card-image > .cart-button {
  position: absolute;
  width: 52px;
  height: 52px;
  right: 15px;
  bottom: -26px;
  filter: drop-shadow(0px 4px 11px rgba(29, 31, 34, 0.1));
  border: none;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.card-container > .product-card > .card-image > .cart-button:hover {
  opacity: 1;
}
.card-container > .product-card > .card-image > .cart-button > img {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(50%, -50%);
}

.card-container > .product-card > .card-image > .badge-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;

  position: absolute;
  height: 35px;
  left: 0px;
  top: 8px;

  visibility: hidden;
}

.card-container > .product-card > .spacer-base {
  width: 24px;
  height: 24px;
  opacity: 0;
}

.card-container > .product-card > .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 22rem;
  height: 58px;
}

.card-container > .product-card > .card-content > .product-title {
  line-height: 1.6;
}

.card-container > .product-card > .card-content > .product-price {
  font-weight: 500;
}
