<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PDP</title>
	<link rel="stylesheet" href="../index.css">
	<link rel="stylesheet" href="product-description.css">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>
	<div>
		<!-- Header, Navbar, Currency switcher, Cart -->
		<header class="header container">

			<!-- Navigation -->
			<section class="navbar flex" style="--gap: 0;">
				<button aria-selected="true" class="uppercase text-black bg-white ff-sans fs-400">Women</button>
				<button aria-selected="false" class="uppercase text-black bg-white ff-sans fs-400">Men</button>
				<button aria-selected="false" class="uppercase text-black bg-white ff-sans fs-400">Kids</button>
				<button aria-selected="false" class="uppercase text-black bg-white ff-sans fs-400"
					style="display: none;">Kids</button>
				<button aria-selected="false" class="uppercase text-black bg-white ff-sans fs-400"
					style="display: none;">Kids</button>
				<button aria-selected="false" class="uppercase text-black bg-white ff-sans fs-400"
					style="display: none;">Kids</button>
				<button aria-selected="false" class="uppercase text-black bg-white ff-sans fs-400"
					style="display: none;">Kids</button>
			</section>

			<!-- Logo -->
			<section class="logo">
				<img src="../logo/logo_transparent.svg" alt="Brand logo">
			</section>

			<!-- Action -->
			<div class="action flex" style="--gap: 22px;">
				<div class="spacer-xl" style="visibility: hidden;"></div>
				<div class="spacer-xl" style="visibility: hidden;"></div>
				<div class="spacer-xl"><img src="../logo/currency.svg" alt="Currency"></div>
				<div class="spacer-xl"><img src="../logo/empty_cart.svg" alt="Empty Cart"></div>
			</div>

			<!-- Currency switcher -->
			<div class="currency-switcher flex">
				<span class="uppercase fs-400 fw-bolder">$ USD</span>
				<span class="uppercase fs-400 fw-bolder">€ EUR</span>
				<span class="uppercase fs-400 fw-bolder">¥ JPY</span>
			</div>
		</header>

		<section class="product-description container flex">
			<div class="image-selector">
				<div class="card-image">
					<img src="../img/ProductD.jpg" alt="Product">

					<button class="heart-button">
						<img src="../logo/heart.svg" alt="Heart">
					</button>

					<button class="cart-button bg-primary">
						<img src="../logo/empty_cart_white.svg" alt="Empty cart">
					</button>

					<div class="badge-icon bg-primary">
						<span style="display: none;">
							<img src="../logo/badge-icon.svg" alt="badge icon">
						</span>
						<span class="text-white fs-200">
							-50%
						</span>
					</div>
				</div>
				<div class="card-image">
					<img src="../img/ProductD.jpg" alt="Product">

					<button class="heart-button">
						<img src="../logo/heart.svg" alt="Heart">
					</button>

					<button class="cart-button bg-primary">
						<img src="../logo/empty_cart_white.svg" alt="Empty cart">
					</button>

					<div class="badge-icon bg-primary">
						<span style="display: none;">
							<img src="../logo/badge-icon.svg" alt="badge icon">
						</span>
						<span class="text-white fs-200">
							-50%
						</span>
					</div>
				</div>
				<div class="card-image">
					<img src="../img/ProductD.jpg" alt="Product">

					<button class="heart-button">
						<img src="../logo/heart.svg" alt="Heart">
					</button>

					<button class="cart-button bg-primary">
						<img src="../logo/empty_cart_white.svg" alt="Empty cart">
					</button>

					<div class="badge-icon bg-primary">
						<span style="display: none;">
							<img src="../logo/badge-icon.svg" alt="badge icon">
						</span>
						<span class="text-white fs-200">
							-50%
						</span>
					</div>
				</div>
			</div>

			<div class="product-info grid">
				<div class="big-image">
					<img src="../img/ProductD.jpg" alt="Product">

					<button class="heart-button">
						<img src="../logo/heart.svg" alt="Heart">
					</button>

					<button class="cart-button bg-primary">
						<img src="../logo/empty_cart_white.svg" alt="Empty cart">
					</button>

					<div class="badge-icon bg-primary">
						<span style="display: none;">
							<img src="../logo/badge-icon.svg" alt="badge icon">
						</span>
						<span class="text-white fs-200">
							-50%
						</span>
					</div>
				</div>

				<div class="full-info flex">

					<div class="product-name flex">
						<span class="fs-500 fw-bolder">Apollo</span>
						<span class="fs-500 fw-regular">Running Short</span>
					</div>

					<div class="product-size">
						<span class="uppercase fs-400 fw-bolder">Size:</span>
						<div class="size-button flex">
							<button aria-selected="false">XS</button>
							<button aria-selected="true">S</button>
							<button aria-selected="false">M</button>
							<button aria-selected="false">L</button>
						</div>
					</div>

					<div class="product-price flex">
						<span class="uppercase fs-400 fw-bolder">Price:</span>
						<span class="uppercase fs-500 fw-bolder">$50.00</span>
						<button class="uppercase fs-400 fw-bold bg-primary text-white">Add to cart</button>
					</div>

					<p class="fs-300 fw-bold">Find stunning women's cocktail dresses and party dresses. Stand out
						in
						lace and metallic
						cocktail dresses and party dresses from all your favorite brands.
					</p>

				</div>
			</div>
		</section>
	</div>

</body>

</html>